body {
	margin: 0;
	background: url('/img/background.jpg') no-repeat center center fixed;
	background-size: cover;
	background-color: #7DC2AD;
}

.home {
	color: #EEF9FC;
}

header {
	font: 2em;
}

.register {
	float: right;
	bottom: 10px;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 2em;
}

.register:hover {
	background-color: #ddd;
	color: black;
}

.login {
	position: right;
	bottom: 0px;
	/*margin-left: 960px;*/
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 2em;
}

.login:hover {
	background-color: #ddd;
	color: black;
}
