body {
	margin: 0px;
	background-color: #019FD7;
	text-align: center;
}

header {
	text-align: left;
}

.aHome {
	text-decoration: none;
	vertical-align: middle;
	color: black;
	padding: 14px 16px;
	background-color: #FCC230;
}

.aHome:hover {
	background-color: #EEF9FC;
}

.imgC {
	vertical-align: middle;
	padding-bottom: 2px;
}

h1 {
	color: #EEF9FC;
}

.fields {
	border: gray;
	background-color: #EEF9FC;
	border-radius: 10px;
	font-size: 1.3em;
	height: 50px;
	width: 300px;
}

.button {
	background-color: #FCC230;
	color: black;
	font-size: 1.5em;
	height: 50px;
	width: 150px;
}

.signup {
	padding: 14px 16px;
	background-color: #FCC230;
	text-decoration: none;
	color: black;
}

.signup:hover {
	background-color: #EEF9FC;
}

.question {
	color: #EEF9FC;
}

.error {
	color: #FCC230;;
}
