body {
	margin: 0px;
	background-color: #019FD7;
	text-align: center;
}

header {
	text-align: left;
}

.aHome {
	text-decoration: none;
	vertical-align: middle;
	color: black;
	padding: 14px 16px;
	background-color: #FCC230;
}

.aHome:hover {
	background-color: #EEF9FC;
}

.imgC {
	vertical-align: middle;
	padding-bottom: 2px;
}


h1 {
	color: #EEF9FC;
}

.logIn {
	padding: 14px 16px;
	background-color: #FCC230;
	text-decoration: none;
	color: black;
}

.logIn:hover {
	background-color: #EEF9FC;
}

.question {
	color: #EEF9FC;
}