<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Register</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/error.css"/>
</head>
<body>
	<header>
		<a href="/home" class="aHome"><img src="/img/left.png" width="40" class="imgC">HOME</a>
	</header>
	<h1>Error 404!!!</h1>
	<p class="suggestion">You can sign in if you have an account or create a new one!</p>
	<a href="login" class="logIn"><b>Log In!</b></a>
	<a href="register" class="signup"><b>Sign up!</b></a>
</body>
</html>
