<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home - Log in application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/indexstyle.css"/>
</head>
<body class="bodyClass">
	<header>
		<h1 class="home"><img src='/img/github-logo.png' class="git" alt="Github logo" width="32" height=""/>Nickeron-dev</h1>
	</header>
	<a href="register" class="register">Register</a>
	<a href="login" class="login">Log In</a>
</body>
</html>
