<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Sign In - Success</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/loginsuccessstyle.css"/>
</head>
<body>
		<h1>You've signed in!!!</h1>
	<table class="allUsersTable">
		<thead class="allUsersHead">
			<tr>
				<td>User Id</td>
				<td>Email</td>
				<td>First Name</td>
				<td>Last Name</td>
				<td>Password</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user: ${users}">
				<td th:text="${user.id}">User Id</td>
				<td th:text="${user.email}">Email</td>
				<td th:text="${user.firstName}">First Name</td>
				<td th:text="${user.lastName}">Last Name</td>
				<td th:text="${user.password}">Password</td>
			</tr>
			<!--<c:forEach var="listValue" items="${User}">
            	<td>${user.id}</td>
            	<td>${user.email}</td>
            	<td>${user.firstName}</td>
            	<td>${user.lastName}</td>
            	<td>${user.password}</td>
        	</c:forEach>-->
		</tbody>
	</table>
</body>
</html>
