<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Log In</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/loginstyle.css"/>
</head>
<body>
		<h1>Log In</h1>
	<form action="#" th:action="@{login}" th:object="${user}" method="post">
		<p>Email: <input type="text" th:field="*{email}"></p>
		<p th:if="${#fields.hasErrors('email')}" th:class="${#fields.hasErrors('email')}? error" class="error">Email must be between 13 and 255 characters.</p>
		<p>Password: <input type="text" th:field=*{password}></p>
		<p th:if="${#fields.hasErrors('password')}" th:class="${#fields.hasErrors('password')}? error" class="error">Password must be between 5 and 64 characters.</p>
		<input type="submit" action="Submit">
	</form>
</body>
</html>
