<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Sign In - Success</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/loginsuccess.css"/>
</head>
<body>
	<header>
		<a href="/home" class="aHome"><img src="/img/up.png" width="40" class="imgC">HOME</a>
	</header>
		<h1>You've signed in!!!</h1>
	<table class="allUsersTable">
		<thead class="allUsersHead">
			<tr>
				<td><strong>User Id</strong></td>
				<td><strong>Email</strong></td>
				<td><strong>First Name</strong></td>
				<td><strong>Last Name</strong></td>
				<td><strong>Password</strong></td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user: ${users}">
				<td th:text="${user.id}">User Id</td>
				<td th:text="${user.email}">Email</td>
				<td th:text="${user.firstName}">First Name</td>
				<td th:text="${user.lastName}">Last Name</td>
				<td th:text="${user.password}">Password</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
