<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Register</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/registersuccess.css"/>
</head>
<body>
	<header>
		<a href="/home" class="aHome"><img src="/img/left.png" width="40" class="imgC">HOME</a>
	</header>
	<h1>You've registered!!!</h1>
	<p class="question">And now you can log in.</p>
	<a href="login" class="logIn"><b>Log In!</b></a>
</body>
</html>
