<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Register</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/register.css"/>
</head>
<body class="bodyClass">
	<header>
		<a href="/home" class="aHome"><img src="/img/up.png" width="40" class="imgC">HOME</a>
	</header>
			<h1>Sign Up</h1>
		<form action="#" th:action="@{/register}" th:object="${user}" method="post">
			<p><input type="text" th:field="*{email}" placeholder="Email..." class="fields"/></p>
			<p th:if="${#fields.hasErrors('email')}" th:class="${#fields.hasErrors('email')}? error" class="error">Email must be between 13 and 255 characters OR it has been already used.</p>		
			<p><input type="text" th:field="*{password}" placeholder="Password..." class="fields"/></p>
			<p th:if="${#fields.hasErrors('password')}" th:class="${#fields.hasErrors('password')}? error" class="error">Password must be between 5 and 64 characters.</p>
			<p><input type="text" th:field="*{firstName}" placeholder="First name..." class="fields"/></p>
			<p th:if="${#fields.hasErrors('firstName')}" th:class="${#fields.hasErrors('firstName')}? error" class="error">First name must be between 2 and 20 characters.</p>
			<p><input type="text" th:field="*{lastName}" placeholder="Last name..." class="fields"/></p>
			<p th:if="${#fields.hasErrors('lastName')}" th:class="${#fields.hasErrors('lastName')}? error" class="error">Last name must be between 2 and 20 characters.</p>
			<p><input type="submit" value="Submit" class="button" /></p>
		</form>
	<p class="question">Already have an account?</p>
	<a href="login" class="logIn"><b>Log In!</b></a>
</body>
</html>
